.o-edit-project{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.o-edit-project > .o-add-project01{
  margin-top: 224px;
}
.o-edit-project > .o-add-project01 > form > .o-people-joined-input{
  margin-top: 113px;
}
.o-edit-project > .o-add-project02{
  margin-top: 100px;
}
.o-edit-project > .o-add-project03{
  margin-top: 0px;
}
.o-edit-project > .o-add-project04{
  margin-top: 36px;
}
.o-edit-project > .o-add-project04 > .o-small-map{
  margin-top: 100px;
}
.o-edit-project > .o-add-project05{
  margin-top: 45px;
}
