.o-new-password{
  position: absolute;
  z-index: 9999;
  margin: auto;
  top: 330px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 460px;
  width: 100%;
  max-height: 308px;
  display: none;
}
.t-new-password{
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.13), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.o-new-password > input{
  min-width: 0;
  width: 320px;
  margin-top: 42px;
  margin-bottom: 0;
}
.o-new-password > input:nth-child(2) {
  margin-top: 24px;
}
.o-new-password > h4 {
  margin-bottom: 0;
  margin-top: 42px;
}
