.t-small-grey-text{
  font-family: Roboto, sans-serif;
  font-size: 12px;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
}
.t-grey-text-register-as{
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.56;
  text-align: left;
  color: rgba(0, 0, 0, 0.46);
}
.t-black-text-register-as{
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.56;
  text-align: left;
  font-weight: bold;
  color: #4d4d4e;
}
.t-grey-text{
  font-family: Roboto, sans-serif;
  font-size: 20px;
  text-align: left;
  color: rgba(0, 0, 0, 0.2);
}
.t-small-black-text--left{
  font-family: Roboto, sans-serif;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.86);
  font-weight: 500;
}
.t-small-black-text{
  font-family: Roboto, sans-serif;
  font-size: 16px;
  text-align: center;
  color: rgba(0, 0, 0, 0.86);
  font-weight: 500;
}
.t-title{
  font-family: Roboto, sans-serif;
  font-size: 36px;
  text-align: center;
  color: rgba(0, 0, 0, 0.86);
}
.t-small-blue-text--left{
  font-family: Roboto, sans-serif;
  font-size: 12px;
  text-align: left;
  color: #448aff;
}
.t-14px-blue-text--left{
  font-family: Roboto, sans-serif;
  font-size: 14px;
  text-align: left;
  color: #448aff;
}
.t-14px-blue-text{
  font-family: Roboto, sans-serif;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  color: #448aff;
}
.t-small-blue-text{
  font-family: Roboto, sans-serif;
  font-size: 12px;
  text-align: center;
  color: #448aff;
}
.t-normal-black-text{
  font-family: Roboto, sans-serif;
  font-size: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 0.86);
}
.t-medium-blue-text{
  font-family: Roboto, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #448aff;
}
.t-instruction-problem{
  font-family: Roboto, sans-serif;
  font-size: 24px;
  text-align: left;
  color: rgba(0, 0, 0, 0.86);
}
.t-small-fat-black-text{
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.63;
  text-align: center;
  color: #4d4d4e;
}
.t-white-text-for-btn{
  font-family: Roboto , sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}
.t-blue-text-for-btn{
  font-family: Roboto , sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #448aff;
}
.t-extra-small-black-text--left{
  font-family: Roboto , sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  color: rgba(0, 0, 0, 0.86);
  width: 100%;
}
.t-text-for-white-btn{
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: rgba(0, 0, 0, 0.86);
}
.t-text-for-blue-btn{
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
}
.t-small-black-text-90deg{
  transform: rotate(-90deg);
 font-family: Roboto, sans-serif;
 font-size: 14px;
 font-weight: 600;
 text-align: left;
 color: rgba(0, 0, 0, 0.86);
}
.t-14px-grey-text{
  font-family: Roboto, sans-serif;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.2);
}
.t-14px-grey-text--left{
  font-family: Roboto, sans-serif;
  font-size: 14px;
  text-align: left;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.2);
}
.t-16px-grey-text{
  font-family: Roboto, sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  color: #cccccc;
}
.t-14px-warm-grey-text{
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #767676;
}
.t-14px-black-text{
  font-family: Roboto , sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: rgba(0, 0, 0, 0.86);
}
.u-line-height-1-56{
  line-height: 1.56;
}
.t-normal-fat-black-text{
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}
.u-line-height-188{
  line-height: 1.88;
}
.t-red-14px-text{
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #ff5722;
}
.t-text-for-big-blue-btn {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}
.t-20px-black-text{
  font-family: Roboto, sans-serif;
  font-size: 20px;
  text-align: left;
  color: rgba(0, 0, 0, 0.86);
}
