
button{
  border: none;
}
*{
  outline: none;
}
input{
  border: none;
  padding: 0;
}

a{
  text-decoration: none;
}
body, html{
  margin: 0 !important;
}
#map{
  height: 100vh;
}
p{
  margin: 0;
}
select{
  border: none;
}
ul{
  padding-left: 0;
}
form{
  margin-bottom: 0;
}
