.t-top-border{
  max-width: 620px;
  border: solid 1px #e7e7ec;
  width: 100%;
}
.t-border-dashed-grey{
  border-top: dashed 2px #e7e7ec;
  width: 50%;
}
.t-border-solid-blue{
  border-top: solid 1px #448aff;
  width: 50%
}
