.u-margin-top64px{
  margin-top: 64px;
}
.u-margin-top59px{
  margin-top: 59px;
}
.u-margin-top42px{
  margin-top: 42px;
}
.u-margin-7vw{
  margin-top: 7vw;
}
.u-margin-11px{
  margin-top: 11px;
}
.u-margin-bottom-11px{
  margin-bottom: 11px;
}
.u-margin-top-19vw{
  margin-top: 19vw;
}
.u-margin-bottom-9vw{
  margin-bottom: 9vw;
}
.u-margin-top-10vw{
  margin-top: 10vw;
}
.u-margin-top4vw{
  margin-top: 4vw !important;
}
.u-margin-top-16px{
  margin-top: 16px;
}
.u-margin-bottom-7vw{
  margin-bottom: 7vw;
}
.u-margin-bottom-10px{
  margin-bottom: 10px;
}
.u-margin-top32px{
  margin-top: 32px;
}
.u-margin-top24px{
  margin-top: 24px;
}
.u-margin-top20px{
  margin-top: 20px;
}
.u-margin-0-69px{
  margin: 0 69px;
}
.u-margin-bottom-32px{
  margin-bottom: 32px;
}
.u-margin-bottom-14px{
  margin-bottom: 14px !important;
}
.u-margin-top-14px{
  margin-top: 14px ;
}
.u-margin-0-auto{
  margin: 0 auto;
}
.u-margin-top-0{
  margin-top: 0;
}
.u-margin-right-22px{
  margin-right: 22px;
}
.u-margin-top-minus10px{
  margin-top: -10px;
}
